
nav {
	text-align: center;
	font-size: 75%;
	padding: .2em;
	font-stretch: ultra-expanded;
}

nav ul {
	padding: 0;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

nav li a{
	font-family: sans-serif;
	font-weight: bold;
}

.intro {
    
}
